*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
*.js
node_modules/
*.tsbuildinfo
.bsp/
.DS_Store
web/.DS_Store
.bloop/
.vscode/
.metals/
.scala-build/

/modules/finicity-codegen/src/main/scala/
!/modules/finicity-codegen/src/main/scala/.openapi-generator-ignore
!/modules/finicity-codegen/src/main/scala/finicity/Helpers.scala
/modules/clickbank-codegen/src/main/scala/