name: ci
on:
  push: { branches: [ main ] }
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"
          cache: sbt

      - name: Set up Sbt    
        uses: sbt/setup-sbt@v1
        with:
          sbt-version: "1.11.7"  

      - name: Compile (runs codegen via sourceGenerators)
        run: sbt -v +compile

    